main{
    display: flex;
    flex-direction: row-reverse;
}
body{
    background-image: url("../images/fondo_3.jpg");
    background-size: contain; 
    background-position: center;

}

img{
    width: 250px;
    height: 250px;
    margin-left: 20px;
}
p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}
.buscador{
    margin-left: 30px;
}
.button{
    background-color: pink;
    color: black;
    border-radius: 5px;
    font: 25px;
    &:hover {
        background-color: fuchsia;
    }
}

h1{
    margin-left: 30px;
    background-color: white;
}

li{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 400px;
    border: 2px solid palevioletred;
    border-radius: 5px;
    font-size: 20px;
}

.pink{
background-color: pink;
color: blue;
}

body{
    display: flex;
}

.hidden{
    display: none;
}