img{
    width: 250px;
    height: 250px;
}

li{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 400px;
}

.pink{
background-color: pink;
color: blue;
}

body{
    display: flex;
}